<!-- app/views/index.phtml -->
<html>
    <head>
        <title>Exemplo</title>
    </head>
    <body>

        <h1>Layout Principal</h1>

        <?php echo $this->getContent(); ?>

    </body>
</html>